---
title: Testimonials
lang: en
ref-fr: realisation-temoignages
---


{{>banner-en}}

<section id="temoignages" class="temoignages">
    <div class="container-fluid temoignages-title">
        <p>
            For over 40 years, the quality of our projects, the exemplary work of our team, our caring for a job well done, our active listening and our respect of our clients’ expectations and needs, brings us the greatest of rewards: their satisfaction. 
        </p>

        <p class="title-bold">Thank you to all of our clientele for your fidelity</p>

        <p>The Entreprises Charta Team</p>
    </div>
    <div class="temoignages-body">
        <!--  Sainte Anne Row   -->
        <div class="row temoignages-row odd">
            <div class="temoignages-row-logo">
                <div class="cover-img">
                  <img src="assets/images/temoig-sainte.png">
                  <div class="cover-img-p"></div>
                </div>
                <div class="logo-cover">
                    <div class="logo-img">
                        <p>
                            <img src="assets/images/logo-sainte-anne.png">
                        </p>
                    </div>
                </div>
            </div>
            <div class="temoignages-row-desc">
                <div class="desc-header">
                    <a href="http://www.college-sainte-anne.qc.ca/" target="_blank">Collège Sainte-Anne de Lachine – Collégial International Sainte-Anne</a>

                    <p>
                        <span class="name">M. Bruno Vachon</span> - Coordinator of Material Resources 
                    </p>

                    <div class="underline"></div>
                </div>
                <div class="desc-content">
                    <p>
                        Enterprises Charta has completed projects at our school for several years, including the complete renovation of one of our buildings and several jobs during summertime. Working with their team is simple and efficient; we can rely on them as they manage the projects with intelligence and know-how, they are used to collaborate with the various stakeholders working on our sites.
                    </p>

                    <p>
                        Charta employees do more than just execute a project; they are partners with whom we work hand in hand who demonstrate attention to detail, good listening skills and consideration. They find solutions regardless of the issue, work with transparency, respect time constraints, cost and meet our expectations. Whatever the type of work involved - renovation, decoration or construction - they care and take pride in a job well done, remain calm even in the most critical of situations and take every measures to satisfy us. Projects are carried out to reflect our institution’s top notch reputation and standing by people who share and apply our human values.
                    </p>
                </div>
            </div>
        </div>
        <!--   Natrel Row  -->
        <div class="row temoignages-row even">
            <div class="temoignages-row-desc">
                <div class="desc-header">
                    <a href="http://www.natrel.ca/en/" target="_blank">Agropur Division Natrel, Saint-Laurent</a>

                    <p>
                        <span class="name">M. Yvan Demchuck</span> - Director - Administrative Services
                    </p>

                    <div class="underline"></div>
                </div>
                <div class="desc-content">
                    <p>
                        Our company has been using Charta’s services for over 15 years. They have completed numerous projects for us, whether for emergency interventions interior designed layouts or large projects. In addition to these projects, they have also completed the entire layout of our corporate office space, several renovation assignments, including three very large ones, and well as on offices in Markham, Ontario. It’s simple: they take care of everything with respect to timelines and costs, and they link up with the various stakeholders with respect and professionalism while adjusting their schedules in order not to interfere with our work. The finishing is impeccable and, before they leave the construction site, they always ensure that the area is clean, functional and ready for our employees. As an anecdote, we had suffered major water damage in our offices - more than 6 inches of water covering over 2,600 square feet! They intervened that same day, and by the next day the water had been removed and work on the site began. Less than two weeks later, our offices were fully restored.
                    </p>

                    <p>
                        This is a very dynamic company that listens to its customers, who understands our situations and can respect the work area of each individual. With Charta, we feel that we are part of their family; they are fully devoted and fully understand our business needs. Mr. Chartier was also able to convey to his great young team his, strong life values such as respect, listening, patience, dedication and tolerance. 
                    </p>

                    <p>
                        All I have to say is, “Bravo” to Yves Chartier and his dynamic team who is continuing the tradition!
                    </p>
                </div>
            </div>
            <div class="temoignages-row-logo">
                <div class="cover-img">
                    <div class="cover-img-p"></div>
                </div>


                <div class="logo-cover dark-bg">
                    <div class="logo-img">
                        <p>
                            <img src="assets/images/logo-natrel.png">
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--  Bba Row   -->
        <div class="row temoignages-row odd">
            <div class="temoignages-row-logo">
                <div class="cover-img">
                    <img class="cover-img" src="assets/images/temoig-bba.png">
                    <div class="cover-img-p"></div>
                </div>


                <div class="logo-cover">
                    <div class="logo-img">
                        <p>
                            <img src="assets/images/logo-bba.png">
                        </p>
                    </div>
                </div>
            </div>
            <div class="temoignages-row-desc">
                <div class="desc-header">
                    <a href="http://www.bba.ca/" target="_blank">BBA</a>

                    <p>
                        <span class="name">M. Michel Dufort</span> - Head of Maintenance and Development 
                    </p>

                    <div class="underline"></div>
                </div>
                <div class="desc-content">
                    <p>
                        BBA is an engineering consulting firm working at the international level that is comprised of more than 700 employees all across Canada. Our mission is to meet and develop a highly-advanced technological team to provide expertise and quality services. Obviously, we seek to partner with contractors who are rigorous and meticulous in performing quality work. 
                    </p>

                    <p>
                        Our first collaboration with Entreprises Charta goes back to more than 5 years ago. Recently, we have given them complete management of the construction of our new local in Brossard which had to be completed in a very short amount of time. Under the leadership of Mr. Chartier and Mr. Charbonneau, the employees at Entreprises Charta took care of all of the aspects related to the mandate: the purchasing of materials, site and stakeholders management, etc. They knew to work with efficiency, according to the timelines and costs, while ensuring that there is was open communication and good synergy between team members. Throughout the project, representatives from Entreprises Charta were attentive to our needs, were always available and demonstrated adaptability. In the process, they were able to anticipate and resolve the unthinkable to give us a final product that lived up to our expectations! 
                    </p>

                    <p>
                        In conclusion, I would like to say that I would not hesitate a second to call Entreprises Charta to build my own house if they undertook projects in the residential domain.
                    </p>
                </div>
            </div>
        </div>

        <!--   Centreal Medical Row  -->
        <div class="row temoignages-row even">
            <div class="temoignages-row-desc">
                <div class="desc-header">
                    <a href="http://www.enjeusante.com/" target="_blank">Centre médical L'ENJEU</a>

                    <p>
                        <span class="name">M. Nicolas Côté</span> - Vice-President - Business Finances and Development 
                    </p>

                    <div class="underline"></div>
                </div>
                <div class="desc-content">
                    <p>
                        I first met Mr. Yves Chartier during an expedition to Mount Kilimanjaro. I had no idea at the time that we would meet again to tackle many other professional challenges together. Our first collaboration with Entreprises Charta was in April 2009 during a disastrous flood that greatly affected our former offices in the Desjardins complex in Montreal.Since they work rapidly and efficiently and perform quality work, we were able to resume business quickly and peacefully. When we decided to move to a new offices and location on Beaumont Street in Montreal in February 2010, we naturally requested their services. As a medical center specializing in cardiology, we wanted to give our customers a uniquely-developed institution with an innovative design that also irreproachably met technical requirements and health standards. Enterprises Charta were more than just skilled hands; they have managed the project masterfully under the guidance of Mr. Dominic Charbonneau and did a simply outstanding job. Charta is more than a general contractor company; well beyond meeting budget requirements, deadlines and a quality of work, that are already the basis of the excellence in their work, we benefited from the services a team of professionals committed to satisfying us who that took the people as much as the work itself into consideration. Always attentive, respectful of their commitments and conscientious to meet expectations, they were able to resolve any problem by consistently offering multiple alternatives conforming to our requirements and budget. Enterprises Charta displays in all occasions a truly complete and transparent cooperation with the aim of satisfying us.
                    </p>

                    <p>
                        Mission accomplished! We have established a great relationship built on trust and we are happy to continue collaborating on new projects.
                    </p>
                </div>
            </div>
            <div class="temoignages-row-logo">
                <div class="cover-img">
                    <img class="cover-img" src="assets/images/temoig-medical.png">
                    <div class="cover-img-p"></div>
                </div>

                <div class="logo-cover">
                    <div class="logo-img">
                        <p>
                            <img src="assets/images/logo-centre-medical.png">
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{{>jointeam-en}}
