---
title: Materialize your ideas
lang: en
---


{{>banner-en}}


<section id="realisationidees" class="realisationidees">
    <!--<div class="container-fluid iddes-header">
    </div>-->
    <div class="container idees-body">
        <div class="col-md-6 idees-img">
            <img src="assets/images/college-saint-anne.jpg">
            <div class="idees-img-label">
                <div class="label-cotainer">
                    <p>
                        You have a project in mind?
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 idees-desc charta-list">
            <h3>We can help you bring your ideas to life.</h3>
            <ul>
                <li>We will take time to discuss them with you</li>
                <li>We will incorporate all of the elements of your ideas</li>
                <li>We can partner with professionals, if necessary</li>
                <li>We will propose appropriate, cutting edge materials</li>
                <li>Most of all, we will respect your project’s budget.</li>
            </ul>
            <p>
                Our experienced and attentive team can complete your project.
            </p>
            <p class="source">
                Feel free to view <a href="{{relative page.dest "dist/achievements-completed-projects.html"}}">our completed projects.</a>
            </p>
        </div>
    </div>
    <div class="container idees-footer">
        <div class="row footer-img-row">
            <div class="col-md-3 col-sm-3 col-xs-4">
                <img src="assets/images/centre-medicale-lenjeu.jpg">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-4">
                <img src="assets/images/bba-brossard.jpg">
            </div>
            <div class="col-md-3 col-sm-3  col-xs-4">
                <img src="assets/images/cdlh.jpg">
            </div>
            <div class="col-md-3 col-sm-3  hidden-xs">
                <img src="assets/images/neuf-architectes.jpg">
            </div>
        </div>
        <div class="row footer-label">
            <div>
                <p>
                    <a href="{{relative page.dest "dist/achievements-completed-projects.html"}}" class="btn btn-primary btn-lg">VISIT OUR PROJECTS</a>
                </p>
            </div>
        </div>
    </div>
</section>

