---
title: Team
lang: en
ref-fr: entreprise-equipe
---


{{>banner-en}}


<section id="equipe" class="equipe">
    <div class="container section-title">
        <p>
            Our team consists of more than 15 permanent employees who are certified in their respective fields and whom many of them have over 15 years of loyal services with our company. Team is cohesive and is composed of versatile and highly-qualified professionals that was able, over the years, to create an exceptional network of subcontractors and specialized collaborators possessing our same values and ethics to produce high-quality work regardless of the magnitude or the technicality, and in all realms including LEED projects (Leadership in Energy and Environmental Design).
        </p>
    </div>
    <div class="container equipe-body">
        <h3>Project Managers</h3>
        <div class="row avator-container">
            <div class="col-md-4 col-sm-4">
                <div class="avator">
                    <div class="avator-img">
                        <img src="assets/images/yves-chartier.jpg">
                    </div>
                    <div class="avator-name">
                        M. Yves Chartier
                    </div>
                    <div class="avator-linkedln">
                        <a href="https://ca.linkedin.com/in/yves-chartier-0ab5ab11/en" target="_blank">View on LinkedIn</a>
                    </div>
                    <div class="avator-desc">
                        Company President since 1996, Mr. Yves Chartier has over 40 years of experience in the commercial, institutional and industrial domains, as well as in project and business management.
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="avator">
                    <div class="avator-img">
                        <img src="assets/images/pierre-yves-chartier.jpg">
                    </div>
                    <div class="avator-name">
                        M. Pierre-Yves Chartier
                    </div>
                    <div class="avator-linkedln">
                        <a href="https://ca.linkedin.com/in/pierre-yves-chartier-39649642" target="_blank">View on LinkedIn</a>
                    </div>
                    <div class="avator-desc">
                        Carpenter and has attended several development courses in project and estimate management, Pierre-Yves joined the group of project managers in 2010 and also became the manager of specific job sites.
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="avator">
                    <div class="avator-img">
                        <img src="assets/images/pierre-dethier.jpg">
                    </div>
                    <div class="avator-name">
                        M. Pierre Dethier
                    </div>
                    <div class="avator-linkedln">
                        <a href="https://ca.linkedin.com/in/pierre-dethier-2b16b887/en" target="_blank">View on LinkedIn</a>
                    </div>
                    <div class="avator-desc">
                        Senior Project Manager, Pierre Dethier joined the company in 1991. With more than 50 years of experience in the commercial, institutional and industrial domains and in project management, Mr. Dethier has equally solid architectural expertise.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{>jointeam-en}}
