---
title: Certifications
lang: en
---


{{>banner-en}}


<section id="certification" class="certification">
    <div class="container">
        <div class="row certification-row leed-certification">
            <div class="col-md-offset-1 col-md-3 col-sm-4 logo">
                <img src="assets/images/leed_logo.png">
            </div>
            <div class="col-md-7 col-sm-8 desc">
                <h3>
                    LEED®
                </h3>

                <p class="content">
                    <a href="http://www.cagbc.org/CAGBC/LEED/CAGBC/Programs/LEED/Going_green_with_LEE.aspx?hkey=54c44792-442b-450a-a286-4aa710bf5c64" target="_blank">LEED</a> Training
                </p>

                <p class="content">
                    The LEED certification mission is to lead and accelerate the transformation to high-performing, healthy green buildings, homes and communities throughout Canada.
                </p>

                <p class="certitication-link">
                    Source: <a href="http://www.cagbc.org/CAGBC/About/MissionVision/CAGBC/AboutCaGBC/Mission.aspx?hkey=9ad72147-a284-4ec3-82d3-bb53451a81a7" target="_blank">
                    http://www.cagbc.org/CAGBC/About/MissionVision/CAGBC/AboutCaGBC/Mission.aspx?hkey=9ad72147-a284-4ec3-82d3-bb53451a81a7</a>
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <hr/>
    </div>
    <div class="container">
        <div class="row certification-row acc-certification">
            <div class="col-md-offset-1 col-md-3 col-sm-4 logo">
                <img src="assets/images/cca-logo.png">
                <p>+</p>
                <img src="assets/images/acc-gold-logo.png">
            </div>
            <div class="col-md-7 col-sm-8 desc">
                <h3>The CAA Gold Seal</h3>
                <p class="content">
                    The Canadian Construction Association awarded Mr. Yves Chartier the Gold Seal Award in 1997 for project manager.
                </p>
                <h3>What is the Gold Seal?</h3>
                <p class="content">
                    The CAA Gold Seal national certification program addresses all project managers, superintendents, estimators and Master Builder project managers in the construction industry. The certification is based on the training and experience of each of the candidates and on their ability to meet the rigorous program standards. The candidates may have to take the Gold Seal exam to have the certification. The Gold Seal Certification was created for the industry and by the industry; it is a voluntary certification program that addresses itself to the individual employee. The Gold Seal certificate certifies that the certification candidate has attained a nationally-recognized level of skill and experience either as a project manager, superintendent, estimator or Master Builder project manager. 
                </p>
                <p class="certitication-link">
                    Source: <a href="http://www.goldsealcertification.com/" target="_blank">http://www.goldsealcertification.com/</a>
                </p>
            </div>
        </div>
    </div>
</section>

{{>jointeam-en}}
