---
title: History
lang: en
ref-fr: entreprise-historique
---

{{>banner-en}}


<section id="historique" class="historique">
    <div class="container section-title">
        <p>
            Passed on from father to son, three passionate generations have each in turn committed themselves to satisfying their customers by offering top-of-the-line service and excellent work at all times with assistance from a team that shares their same values.
        </p>
    </div>
    <div class="container historique-body">
        <div id="historiquebody" class="">
            <div class="timeline-border">
                <div class="innercontent"></div>
            </div>

            <div class="entry clearfix emptybox">
                <div>&nbsp</div>
            </div>
            <div class="entry clearfix">
                <div class="entry-timeline">
                    <div class="timeline-divider"></div>
                </div>
                <div class="entry-title">
                    <h2>1974</h2>
                </div>
                <div class="entry-content">
                    <p>
                        Creation of Les Entreprises Charta Inc. by Jean-Guy Chartier, father of Yves Chartier. The name of the business is a combination of the names Chartier and Rita, the first name of Jean-Guy’s wife. In a short amount of time, the company makes itself known and is appreciated for the quality of its services and projects in the residential and commercial domains. From the beginning, at the age of fifteen, Yves works regularly at his father’s side. When he receives his diploma in Administration and Marketing, he works full-time in the company in order to learn all of the aspects of construction sites until he obtains his carpenter certification.
                    </p>
                </div>
            </div>


            <div class="entry clearfix">
                <div class="entry-timeline">
                    <div class="timeline-divider"></div>
                </div>
                <div class="entry-title">
                    <h2>1987</h2>
                </div>
                <div class="entry-content">
                    <p>
                        Les Entreprises Charta acquires a construction materials hardware store of over 7,000 square feet - le Centre du Bricoleur Lachine ltée. The acquisition of this hardware proves to be a major asset in their field of work compared to their competitors as the company can thereby benefit from a rapid supply of required materials at a competitive price in order to complete their contracts.
                    </p>
                </div>
            </div>

            <div class="entry clearfix">
                <div class="entry-timeline">
                    <div class="timeline-divider"></div>
                </div>
                <div class="entry-title">
                    <h2>1996</h2>
                </div>
                <div class="entry-content">
                    <p>
                        Upon the passing of Jean-Guy, Yves takes charge of the business and decides to direct the company more specifically into the commercial, industrial and institutional domains.
                    </p>
                </div>
            </div>


            <div class="entry clearfix">
                <div class="entry-timeline">
                    <div class="timeline-divider"></div>
                </div>
                <div class="entry-title">
                    <h2>1997</h2>
                </div>
                <div class="entry-content">
                    <p>
                        Yves receives the "Gold Seal" Award from the Canadian Construction Association (CCA) for project manager.
                    </p>
                </div>
            </div>


            <div class="entry clearfix">
                <div class="entry-timeline">
                    <div class="timeline-divider"></div>
                </div>
                <div class="entry-title">
                    <h2>2003</h2>
                </div>
                <div class="entry-content">
                    <p>
                        Yves' sons Pierre-Yves, followed by Hugo in 2007, join the family business.
                    </p>
                </div>
            </div>


            <div class="entry clearfix">
                <div class="entry-timeline">
                    <div class="timeline-divider"></div>
                </div>
                <div class="entry-title">
                    <h2>2006</h2>
                </div>
                <div class="entry-content">
                    <p>
                        On February 27th, Yves Chartier acquires the Lacroix & fils RONA hardware store. Founded over 60 years ago, the store is located at 650 rue Notre-Dame in Lachine and has an area of operations measuring 12,000 square feet. Mr. Lacroix Sr. stays active within the team until January 2007.
                    </p>
                </div>
            </div>


            <div class="entry clearfix">
                <div class="entry-timeline">
                    <div class="timeline-divider"></div>
                </div>
                <div class="entry-title">
                    <h2>2007</h2>
                </div>
                <div class="entry-content">
                    <p>
                        In September, the restructuring project for the hardware store, which includes renovations and an addition, is completed after over a year of planning, doubling the size of the first floor.
                    </p>
                </div>
            </div>


            <div class="entry clearfix">
                <div class="entry-timeline">
                    <div class="timeline-divider"></div>
                </div>
                <div class="entry-title">
                    <h2>2009</h2>
                </div>
                <div class="entry-content">
                    <p>
                        Yves Chartier is voted Personnalité d’affaires de Lachine. <br /><br />+<br /><br />The press pays tribute to Les Entreprises Charta Inc. in <a href="{{assets}}/pdf/charta-lareussite.pdf" target="_blank">an article dedicated to the history of the family business</a>.<br /><i>La Réussite Journal Nov/Dec 2009.</i>
                    </p>
                </div>
            </div>


            <div class="entry clearfix">
                <div class="entry-timeline">
                    <div class="timeline-divider"></div>
                </div>
                <div class="entry-title">
                    <h2>2016</h2>
                </div>
                <div class="entry-content">
                    <p>
                        <b>Le Centre du Bricoleur Lachine - RONA</b><br />
                        New construction of a 4500 sq. ft. warehouse incorporating cutting edge technology to serve you better!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container section-footer">
        <p>
            Thanks to its know-how and the quality of its work, the team at Les Entreprises Charta is proud of being active for over 40 years in the management, planning and execution of hundreds of projects each year in Quebec and New Brunswick as well as Ontario.
        </p>
    </div>
</section>

{{>jointeam-en}}
