---
title: Careers
lang: en
ref-fr: carrieres
---


{{>banner-en}}

<section id="carrieres" class="carrieres">
    <div class="container-fluid carrieres-title">
        <p class="title-bold">Do you want to join our team?</p>
    </div>
    <div class="container carrieres-view">
        <div class="col-md-6 carrieres-img">
            <img class="full-img" src="https://placeholdit.imgix.net/~text?txt=&w=640&h=520">

            <div class="carrieres-img-label">
                <div class="label-cotainer">
                    <p>
                        Photo de lՎquipe Charta
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 carrieres-desc charta-list">
            <h3>Careers</h3>

            <p>If you are interested in offering your services as:</p>
            <ul>
                <li>Administrative personnel specializing in the construction field (Administrative Assistant, Accountant)</li>
                <li>Construction Worker</li>
                <li>Project Manager</li>
                <li>Estimator</li>
            </ul>
            <p>Please complete the contact form below.</p>
            <p class="sous">
                Contractors
            </p>
            <p>
                If you would like to offer your specialized services in the construction field, please send us your professional profile by completing the contact form below.
            </p>
        </div>
    </div>
    <div class="container carrieres-form-container">
        <form class="carrieres-form"  enctype="multipart/form-data" action="">
          <div class="row form-label">
              <p class="col-md-12">
                  Send us an email
              </p>
          </div>

          <div class="row messagebox">
              <div class="col-md-12 alert alert-success" role="alert"></div>
          </div>

          <div class="row">

              <!-- Email to address -->
              <input type="hidden" name="toaddress" value="alexlemoeligou@gmail.com"/>

              <div class="col-md-5 col-sm-5 col-xs-12">
                  <div class="form-group">
                    <label class="label" for="toaddress">PLEASE SELECT THE KIND OF WORK *</label>
                    <select class="selectpicker" id="title" name="title" required>
                        <option value="job1">job1</option>
                        <option value="job2">job2</option>
                        <option value="job3">job3</option>
                        <option value="job4">job4</option>
                    </select>
                  </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-10">
                  <div class="form-group">
                    <label class="label" for="vitea">CURRICULUM VITEA *</label>
                    <input type="text" id="vitea" name="vitea" placeholder="" value=""  class="file_name" required/>
                    <a href="#" class="remove_file"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                  </div>
              </div>
              <div class="col-md-1 col-sm-1 col-xs-2">
                  <div class="form-group">
                    <label class="label" for="vitea">&nbsp;</label>
                    <div class="plus">
                        <a href="#"><span>+</span></a>
                        <input type="file" name="csv_file" id="csv_file" accept="application/pdf"/>
                    </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-4 col-sm-4">
                  <div class="form-group">
                    <label class="label" for="name">NAME *</label>
                    <input type="text" id="name" name="contact_name" value="" placeholder="" required/>
                  </div>
              </div>
              <div class="col-md-5 col-sm-5">
                  <div class="form-group">
                    <label class="label" for="email">EMAIL *</label>
                    <input type="email" id="name" name="contact_email" value="" placeholder="" required/>
                  </div>
              </div>
              <div class="col-md-3 col-sm-3">
                  <div class="form-group">
                    <label class="label" for="telphone">TELEPHONE *</label>
                    <input type="text" id="telphone" name="contact_phonenumber" placeholder="" required/>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                    <label class="label" for="message">MESSAGE *</label>
                    <textarea id="message" placeholder="" name="message" required></textarea>
                  </div>
              </div>
          </div>
            <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <button type="button" id="sent" class="btn btn-lg btn-primary btn-send">
                        SEND<span class="loading-icon">&nbsp;&nbsp;&nbsp;<i class="spin glyphicon glyphicon-refresh"></i></span>
                    </button>
                  </div>
                </div>
            </div>
        </form>
    </div>
</section>
{{>jointeam-en}}
