---
title: Carrières
lang: fr
---


{{>banner}}

<section id="carrieres" class="carrieres">
    <div class="container-fluid carrieres-title">
        <p class="title-bold">Vous désirez vous joindre à notre équipe?</p>
    </div>
    <div class="container carrieres-view">
        <div class="col-md-6 carrieres-img">
            <img class="full-img" src="https://placeholdit.imgix.net/~text?txt=&w=640&h=520">

            <div class="carrieres-img-label">
                <div class="label-cotainer">
                    <p>
                        Photo de l’équipe Charta
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 carrieres-desc charta-list">
            <h3>Carrières</h3>

            <p> Vous désirez nous offrir vos services à titre de :</p>
            <ul>
                <li>personnel administratif spécialisé dans le domaine de la construction (adjointe administrative,
                    comptable);
                </li>
                <li>personnel de chantier;</li>
                <li>chargé de projets;</li>
                <li>estimateur,</li>
            </ul>
            <p>veuillez remplir le formulaire de contact ci-dessous.</p>
            <p class="sous">
                Sous-traitants
            </p>
            <p>
                Vous désirez nous offrir vos services spécialisés dans le domaine de la construction, veuillez nous
                faire parvenir votre profil professionnel en remplissant le formulaire de contact ci-dessous.
            </p>
        </div>
    </div>
    <div class="container carrieres-form-container">
        <form class="carrieres-form"  enctype="multipart/form-data" action="">
          <div class="row form-label">
              <p class="col-md-12">
                  Envoyez-nous un courriel
              </p>
          </div>

          <div class="row messagebox">
              <div class="col-md-12 alert alert-success" role="alert"></div>
          </div>

          <div class="row">
              <div class="col-md-5 col-sm-5 col-xs-12">
                  <div class="form-group">
                    <label class="label" for="toaddress">VEUILLEZ SÉLECTIONNER LE TYPE D’EMPLOI *</label>
                    <select class="selectpicker" id="toaddress" name="toaddress" required>
                        <option value=""></option>
                        <option value="tim199178@yandex.com">tim199178@yandex.com</option>
                        <option value="tim199178@google.com">tim199178@google.com</option>
                        <option value="tolya@yandex.com">tolya@yandex.com</option>
                        <option value="anatoly@yandex.com">anatoly@yandex.com</option>
                    </select>
                  </div>
              </div>
              <div class="col-md-6 col-sm-5 col-xs-9">
                  <div class="form-group">
                    <label class="label" for="vitea">CURRICULUM VITEA *</label>
                    <input type="text" id="vitea" name="vitea" placeholder="" value="" required/>
                  </div>
              </div>
              <div class="col-md-1 col-sm-2 col-xs-3">
                  <div class="form-group">
                    <label class="label" for="vitea">&nbsp;</label>
                    <div class="plus">
                        <a href="#"><span>+</span></a>
                        <input type="file" name="csv_file" id="csv_file" accept="application/pdf"/>
                    </div>
                    <div class="csv_file_name">
                        <div class="file_item">
                          <a href="#" class="remove_file"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>&nbsp;<span class="file_name"></span>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-4 col-sm-4">
                  <div class="form-group">
                    <label class="label" for="name">NOM *</label>
                    <input type="text" id="name" name="contact_name" value="" placeholder="" required/>
                  </div>
              </div>
              <div class="col-md-5 col-sm-5">
                  <div class="form-group">
                    <label class="label" for="email">COURRIEL *</label>
                    <input type="email" id="name" name="contact_email" value="" placeholder="" required/>
                  </div>
              </div>
              <div class="col-md-3 col-sm-3">
                  <div class="form-group">
                    <label class="label" for="telphone">TÉLÉPHONE *</label>
                    <input type="text" id="telphone" name="contact_phonenumber" placeholder="" required/>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                    <label class="label" for="message">MESSAGE *</label>
                    <textarea id="message" placeholder="" name="message" required></textarea>
                  </div>
              </div>
          </div>
            <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <button type="button" id="sent" class="btn btn-lg btn-primary btn-send">
                        ENVOYER<span class="loading-icon">&nbsp;&nbsp;&nbsp;<i class="spin glyphicon glyphicon-refresh"></i></span>
                    </button>
                  </div>
                </div>
            </div>
        </form>
    </div>
</section>
{{>jointeam}}
