---
title: Contactez-Nous
lang: fr
---
<script src="{{assets}}/js/contact.js"></script>

{{>banner}}

<section id="contact" class="carrieres">
    <div class="container-fluid carrieres-title">
        <p>Notre équipe se fera un plaisir de répondre à vos questions!</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9 carrieres-form-container">
                <form class="carrieres-form">
                    <div class="row form-label">
                        <p class="col-md-12">
                            Envoyez-nous un courriel
                        </p>
                    </div>
                    <div class="row messagebox">
                          <div class="col-md-12 alert alert-success" role="alert"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <div class="form-group">
                                <label class="label" for="toaddress">À QUI VOULEZ-VOUS VOUS ADRESSER? *</label>
                                <select class="selectpicker" id="toaddress" name="toaddress" required>
                                    <option value=""></option>
                                    <option value="tim199178@yandex.com">tim199178@yandex.com</option>
                                    <option value="tim199178@google.com">tim199178@google.com</option>
                                    <option value="tolya@yandex.com">tolya@yandex.com</option>
                                    <option value="anatoly@yandex.com">anatoly@yandex.com</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label class="label" for="name">NOM *</label>
                                <input type="text" id="name" name="contact_name" placeholder="" required/>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-5">
                            <div class="form-group">
                                <label class="label" for="email">COURRIEL *</label>
                                <input type="email" id="email" name="contact_email" placeholder="" required/>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="form-group">
                                <label class="label" for="telphone">TÉLÉPHONE *</label>
                                <input type="text" id="telphone" name="contact_phonenumber" placeholder="" required/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="label" for="message">MESSAGE *</label>
                                <textarea id="message" placeholder="" name="message" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="button" id="sent" class="btn btn-lg btn-primary">
                                    ENVOYER<span class="loading-icon">&nbsp;&nbsp;&nbsp;<i class="spin glyphicon glyphicon-refresh"></i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <div class="contact-sidebar">
                    <div class="logo">
                        <img src="assets/images/charta-logo@2x.png">
                    </div>
                    <address>
                        <p class="company-name">Les Entreprises Charta Inc.</p>
                        530, 19e Avenue<br>
                        Lachine (Québec)<br>
                        H8S 3S5<br>
                    </address>

                    <p class="phonenumber">
                        <strong>Téléphone:</strong> (514) 637-6725<br>
                        <strong>Télécopieur:</strong>(514) 634-5765
                    </p>

                    <p class="location">
                        <strong>Licence RBQ n°</strong> 1367-3231-71<br>
                        <strong>N.E.Q :</strong> 11402063695<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="google-map" class="gmap map-container container-fluid">
    </div>
</section>
{{>jointeam}}
