---
title: Contact-us
lang: en
ref-fr: contactez-nous
---

{{>banner-en}}

<section id="contact" class="carrieres">
    <div class="container-fluid carrieres-title">
        <p>Our team would be happy to answer your questions.</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 carrieres-form-container">
                <form action="/sendmail.php?action=contact" class="carrieres-form">
                    <div class="row form-label">
                        <p class="col-md-12">
                            Send us an email
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-success" role="alert">Your message was send successfully. We will contact your shortly.</div>
                            <div class="alert alert-danger" role="alert">Something went wrong. Please contact us directly or try again later.</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <div class="form-group">
                                <label class="label" for="toaddress">WHO WOULD YOU LIKE TO CONTACT *</label>
                                <select class="selectpicker" id="toaddress" name="toaddress" required>
                                    <option value="info">General Inquiries / Projects (info@charta.ca)</option>
                                    <option value="secretariat">Administration (secretariat@charta.ca)</option>
                                    <option value="comptabilite">Accounting (comptabilite@charta.ca)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label class="label" for="name">NAME *</label>
                                <input type="text" id="name" name="contact_name" placeholder="" required/>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-5">
                            <div class="form-group">
                                <label class="label" for="email">EMAIL *</label>
                                <input type="email" id="email" name="contact_email" placeholder="" required/>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="form-group">
                                <label class="label" for="telphone">TELEPHONE *</label>
                                <input type="text" id="telphone" name="contact_phonenumber" placeholder="" required/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="label" for="message">MESSAGE *</label>
                                <textarea id="message" placeholder="" name="message" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="button" id="sent" class="btn btn-lg btn-primary">
                                    SEND<span class="loading-icon">&nbsp;&nbsp;&nbsp;<i class="spin glyphicon glyphicon-refresh"></i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                          <div class="alert alert-success" role="alert">Votre message a été envoyée avec succès. Nous vous contacterons sous peu. Merci.</div>
                          <div class="alert alert-danger" role="alert">Un problème est survenu. Veuillez nous contacter directement ou réessayer plus tard. Merci.</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <div class="contact-sidebar">
                    <div class="logo">
                        <img src="assets/images/charta-logo-complet.jpg" width="260" height="200" />
                    </div>
                    <address>
                        <p class="company-name">Les Entreprises Charta inc.</p>
                        530, 19th Avenue<br>
                        Lachine (Québec)<br>
                        H8S 3S5<br>
                    </address>

                    <p class="phonenumber">
                        <strong>Telephone:</strong> 514 637-6725<br>
                        <strong>Fax:</strong> 514 634-5765
                    </p>

                    <p class="location">
                        <strong>RBQ Licence N°</strong> 1367-3231-71<br>
                        <strong>N.E.Q:</strong> 11402063695<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="google-map" class="gmap map-container container-fluid">
    </div>
</section>
