---
title: Historique
lang: fr
---

{{>banner}}


<section id="historique" class="historique">
    <div class="container section-title">
        <p>
            De père en fils, c’est trois générations de passionnés qui se sont tour à tour engagées à satisfaire leur
            clientèle en offrant en tout temps un service haut de gamme et des travaux d’excellence épaulés d’une équipe
            partageant les mêmes valeurs.
        </p>
    </div>
    <div class="container historique-body">
        <div id="historiquebody" class="">
            <div class="timeline-border">
                <div class="innercontent"></div>
            </div>

            <div class="entry clearfix emptybox">
                <div>&nbsp</div>
            </div>
            <div class="entry clearfix">
                <div class="entry-timeline">
                    <div class="timeline-divider"></div>
                </div>
                <div class="entry-title">
                    <h2>1974</h2>
                </div>
                <div class="entry-content">
                    <p>
                        Création des Entreprises Charta par Jean-Guy Chartier, père de Yves Chartier. Le nom de
                        l’entreprise est la fusion du nom de Chartier et de Rita, prénom de l’épouse de Jean-Guy.
                        Rapidement, la compagnie se fait connaître et apprécier pour la qualité de ses services et de
                        ses réalisations dans le domaine résidentiel et commercial. Dès le départ, à peine âgé de 15
                        ans, Yves travaille régulièrement au côté de son père et lorsqu’il obtiendra son diplôme en
                        administration et marketing, il travaillera à plein temps dans la compagnie afin d’apprendre
                        toutes les facettes d’un chantier de construction et ce, jusqu’à l’obtention de sa carte de
                        compétence à titre de compagnon.
                    </p>
                </div>
            </div>


            <div class="entry clearfix">
                <div class="entry-timeline">
                    <div class="timeline-divider"></div>
                </div>
                <div class="entry-title">
                    <h2>1987</h2>
                </div>
                <div class="entry-content">
                    <p>
                        Les Entreprises Charta acquiert un magasin de matériaux de construction de plus de 7000 pieds
                        carrés, le Centre du Bricoleur Lachine ltée. Un atout de taille dans leur domaine d’activité et
                        par rapport à la compétition, car la compagnie peut ainsi bénéficier à un prix compétitif de
                        l’approvisionnement rapide et de qualité d’une grande partie des matériaux nécessaire à la
                        réalisation de ses mandats.
                    </p>
                </div>
            </div>

            <div class="entry clearfix">
                <div class="entry-timeline">
                    <div class="timeline-divider"></div>
                </div>
                <div class="entry-title">
                    <h2>1996</h2>
                </div>
                <div class="entry-content">
                    <p>
                        Au décès de Jean-Guy, Yves prend les commandes de l’entreprise et décide d’orienter plus
                        spécifiquement la spécialisation de la compagnie dans les domaines commercial, industriel et
                        institutionnel.
                    </p>
                </div>
            </div>


            <div class="entry clearfix">
                <div class="entry-timeline">
                    <div class="timeline-divider"></div>
                </div>
                <div class="entry-title">
                    <h2>1997</h2>
                </div>
                <div class="entry-content">
                    <p>
                        Yves reçoit la certification « Sceau D’or » de l’Association canadienne de la construction (ACC)
                        à titre de gestionnaire de projet.
                    </p>
                </div>
            </div>


            <div class="entry clearfix">
                <div class="entry-timeline">
                    <div class="timeline-divider"></div>
                </div>
                <div class="entry-title">
                    <h2>2003</h2>
                </div>
                <div class="entry-content">
                    <p>
                        Pierre-Yves, suivi par Hugo en 2007 les deux fils d’Yves rejoignent l’entreprise familiale.
                    </p>
                </div>
            </div>


            <div class="entry clearfix">
                <div class="entry-timeline">
                    <div class="timeline-divider"></div>
                </div>
                <div class="entry-title">
                    <h2>2006</h2>
                </div>
                <div class="entry-content">
                    <p>
                        Le 27 février, Yves Chartier fait l’acquisition de la quincaillerie RONA Lacroix & fils. Fondé
                        il y a plus de 60 ans, ce commerce situé au 650 rue Notre-Dame à Lachine dispose d’une
                        superficie d’exploitation de 12 000 pieds carrés. Monsieur Lacroix père restera actif au sein de
                        l’équipe jusqu’en janvier 2007.
                    </p>
                </div>
            </div>


            <div class="entry clearfix">
                <div class="entry-timeline">
                    <div class="timeline-divider"></div>
                </div>
                <div class="entry-title">
                    <h2>2007</h2>
                </div>
                <div class="entry-content">
                    <p>
                        En septembre, après plus d’un an de planification, le projet de restructuration de la
                        quincaillerie comprenant une rénovation et un agrandissement est achevé, ce qui permet de
                        doubler la superficie de son premier plancher.
                    </p>
                </div>
            </div>


            <div class="entry clearfix">
                <div class="entry-timeline">
                    <div class="timeline-divider"></div>
                </div>
                <div class="entry-title">
                    <h2>2009</h2>
                </div>
                <div class="entry-content">
                    <p>
                        Yves Chartier est élu personnalité d’affaires de Lachine. <br /><br />+<br /><br />Les Entreprises Charta inc. sont saluées dans la presse par un article dédié à l’histoire de l’entreprise familiale. <br /><i>Journal La Réussite Nov./Déc 2009.</i>
                    </p>
                </div>
            </div>


            <div class="entry clearfix">
                <div class="entry-timeline">
                    <div class="timeline-divider"></div>
                </div>
                <div class="entry-title">
                    <h2>2016</h2>
                </div>
                <div class="entry-content">
                    <p>
                        <b>Le Centre du Bricoleur Lachine - RONA</b><br />
                        Nouvelle construction d’un entrepôt de 4500 pc qui sera à la fine pointe de la technologie pour mieux vous servir!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container section-footer">
        <p>
            Grâce à son savoir-faire et à la qualité de ses réalisations, l’équipe des Entreprises Charta est fière
            d’avoir participé depuis plus de 40 ans, à la gestion, à la planification et à l’exécution de centaines de
            projets chaque année tant au Québec, qu’au Nouveau-Brunswick et qu’en Ontario.
        </p>
    </div>
</section>

{{>jointeam}}
