---
title: Historique
parent: Entreprise
---

{{>banner}}


<section id="history" class="history">
  <div class="timeline container">

    <div class="timeline-border"></div>

    <div class="entry entry-date-section first col-md-12"><span>November 2014</span></div>

    <div class="entry col-md-6">
      <div class="entry-image">
        <a href="images/blog/full/17.jpg" data-lightbox="image"><img class="image_fade" src="images/blog/small/17.jpg" alt="Standard Post with Image"></a>
      </div>
      <div class="entry-title">
        <h2><a href="blog-single.html">This is a Standard post with a Preview Image</a></h2>
      </div>
      <ul class="entry-meta list-inline">
        <li><i class="icon-calendar3"></i> 10th Feb 2014</li>
        <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>
        <li><a href="#"><i class="icon-camera-retro"></i></a></li>
      </ul>
      <div class="entry-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in. Eligendi, deserunt, blanditiis est quisquam doloribus.</p>
        <a href="blog-single.html"class="more-link">Read More</a>
      </div>
    </div>

    <div class="entry col-md-6">
      <div class="entry-timeline">
        <div class="timeline-divider"></div>
      </div>
      <div class="entry-image">
        <a href="images/blog/full/17.jpg" data-lightbox="image"><img class="image_fade" src="images/blog/small/17.jpg" alt="Standard Post with Image"></a>
      </div>
      <div class="entry-title">
        <h2><a href="blog-single.html">This is a Standard post with a Preview Image</a></h2>
      </div>
      <ul class="entry-meta list-inline">
        <li><i class="icon-calendar3"></i> 10th Feb 2014</li>
        <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>
        <li><a href="#"><i class="icon-camera-retro"></i></a></li>
      </ul>
      <div class="entry-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in. Eligendi, deserunt, blanditiis est quisquam doloribus.</p>
        <a href="blog-single.html"class="more-link">Read More</a>
      </div>
    </div>

  </div>
</section>