---
title: Équipe
lang: fr
---


{{>banner}}


<section id="equipe" class="equipe">
    <div class="container section-title">
        <p>
            Notre équipe est composée de plus de 15 employés permanents certifiés dans leur domaine respectif comptant
            pour la plupart plus de 15 ans de loyaux services à nos côtés. Une équipe soudée de professionnels
            polyvalents et hautement qualifiés qui ont su s’entourer au fil du temps d’un réseau exceptionnel de
            sous-traitants et de collaborateurs spécialisés possédant nos mêmes valeurs et éthique afin de réaliser des
            travaux de grande qualité quelle qu’en soit l’ampleur ou la technicité, et ce dans toutes les sphères
            incluant les projets LEED (Leadership in Energy and Environmental Design).
        </p>
    </div>
    <div class="container equipe-body">
        <h3>Chargés de projets</h3>
        <div class="row avator-container">
            <div class="col-md-4 col-sm-4">
                <div class="avator">
                    <div class="avator-img">
                        <img src="assets/images/yves-chartier.jpg">
                    </div>
                    <div class="avator-name">
                        M. Yves Chartier
                    </div>
                    <div class="avator-linkedln">
                        <a href="https://ca.linkedin.com/in/yves-chartier-0ab5ab11/en" target="_blank">Voir sur LinkedIn</a>
                    </div>
                    <div class="avator-desc">
                        Président de la compagnie depuis 1996, monsieur Yves Chartier possède plus de 40 ans
                        d’expérience dans le domaine de la construction commerciale, institutionnelle et industrielle
                        ainsi que dans la gestion de projet et d’entreprise.
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="avator">
                    <div class="avator-img">
                        <img src="assets/images/pierre-yves-chartier.jpg">
                    </div>
                    <div class="avator-name">
                        M. Pierre-Yves Chartier
                    </div>
                    <div class="avator-linkedln">
                        <a href="https://ca.linkedin.com/in/pierre-yves-chartier-39649642" target="_blank">Voir sur LinkedIn</a>
                    </div>
                    <div class="avator-desc">
                        Charpentier-menuisier de formation et après plusieurs cours de perfectionnement en estimation et
                        gestion de projets, Pierre-Yves se joint au groupe de chargés de projets en 2010 et devient
                        également gestionnaire de chantiers spécifiques.
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="avator">
                    <div class="avator-img">
                        <img src="assets/images/pierre-dethier.jpg">
                    </div>
                    <div class="avator-name">
                        M. Pierre Dethier
                    </div>
                    <div class="avator-linkedln">
                        <a href="https://ca.linkedin.com/in/pierre-dethier-2b16b887/en" target="_blank">Voir sur LinkedIn</a>
                    </div>
                    <div class="avator-desc">
                        Chargé de projet senior, Pierre Dethier a rejoint la compagnie en 1991. Avec plus de 50 ans
                        d’expérience dans le domaine de la construction commerciale, institutionnelle et industrielle et
                        dans la gestion de projets, monsieur Dethier possède également une solide expertise en
                        architecture.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{>jointeam}}
