---
title: Certifications
lang: fr
---


{{>banner}}


<section id="certification" class="certification">
    <div class="container">
        <div class="row certification-row leed-certification">
            <div class="col-md-offset-1 col-md-3 col-sm-4 logo">
                <img src="assets/images/leed_logo.png">
            </div>
            <div class="col-md-7 col-sm-8 desc">
                <h3>
                    LEED®
                </h3>

                <p class="content">
                    Formation <a href="#">LEED</a>
                </p>

                <p class="content">
                    La mission de la certification LEED consiste à diriger et accélérer la transformation vers des bâtiments, des habitations et des collectivités durables, sains et à haute performance, à la grandeur du Canada.
                </p>

                <p class="certitication-link">
                    Source: <a href="http://www.cagbc.org/CBDCA/Apropos/Mission/CBDCaSiteWeb/AproposdeCBDCa/Notre_mission.aspx?hkey=f66596b3-4e9e-4e17-babb-c12e5e44ed96" target="_blank">
                    http://www.cagbc.org/CBDCA/Apropos/Mission/CBDCaSiteWeb/AproposdeCBDCa/Notre_mission.aspx?hkey=f66596b3-4e9e-4e17-babb-c12e5e44ed96</a>
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <hr/>
    </div>
    <div class="container">
        <div class="row certification-row acc-certification">
            <div class="col-md-offset-1 col-md-3 col-sm-4 logo">
                <img src="assets/images/cca-logo.png">
                <p>+</p>
                <img src="assets/images/acc-gold-logo.png">
            </div>
            <div class="col-md-7 col-sm-8 desc">
                <h3>Sceau D'or de l'ACC</h3>
                <p class="content">
                    L’Association canadienne de la construction a décerné à monsieur Yves Chartier en 1997, la certification « Sceau D'or » en tant que gestionnaire de projet.
                </p>
                <h3>Qu'est-ce que le Sceau d'or?</h3>
                <p class="content">
                    Le programme de certification Sceau d’or de l’ACC est un programme national de certification qui s’adresse aux gestionnaires de projet, surintendants, estimateurs et gestionnaires de projet des maîtres d’ouvrage de l’industrie de la construction. La certification est fondée sur la formation et l’expérience de chacun des candidats et sur leur aptitude à satisfaire aux normes rigoureuses du programme. Les candidats peuvent avoir à passer l’examen Sceau d’or pour obtenir leur certification. Le certificat Sceau d’or a été créé par l’industrie pour l’industrie; il s’agit d’un programme de certification volontaire qui s’adresse au travailleur individuel. Le certificat Sceau d’or atteste que le candidat à la certification a atteint un niveau d’expérience et de compétence reconnues à l’échelle nationale, soit à titre de gestionnaire de projet, surintendant, estimateur ou gestionnaire de projet d’un maître d’ouvrage.
                </p>
                <p class="certitication-link">
                    Source: <a href="http://www.goldsealcertification.com/" target="_blank">http://www.goldsealcertification.com/</a>
                </p>
            </div>
        </div>
    </div>
</section>

{{>jointeam}}
