---
title: Philosophie
parent: Entreprise
---


{{>banner}}


<section id="historique" class="historique">
    <div class="container">
      <p class="historique-title">
          De père en fils, c’est trois générations de passionnés qui se sont tour à tour engagées à satisfaire leur clientèle en offrant en tout temps un service haut de gamme et des travaux d’excellence épaulés d’une équipe partageant les mêmes valeurs.
      </p>
    </div>
    <div class="container historique-body">

    </div>
    <div class="container">
        <p class="historique-footer">
        Grâce à son savoir-faire et à la qualité de ses réalisations, l’équipe des Entreprises Charta est fière d’avoir participé depuis plus de 40 ans, à la gestion, à la planification et à l’exécution de centaines de projets chaque année tant au Québec, qu’au Nouveau-Brunswick et qu’en Ontario.
        </p>
    </div>
</section>

{{>jointeam}}
