---
title:  News
lang: en
---


{{>banner-en}}

<section class="nouvelles">
    <div class="charta-title">
        <div class="charta-container">
            <p>
                Stay abreast of our company’s most recent work and our latest news. To do so, please follow our Instagram account. <a href="https://www.instagram.com/chartaconstruction/" target="_blank">@chartaconstruction</a>.<br />
                <small>(Click on the images below to open them in Instagram)</small>
            </p>
        </div>
    </div>
    <div class="news-container container">
        <div id="instagramNewsFeed" class="row">

        </div>
    </div>
</section>

{{>jointeam-en}}
