---
title: Notre magasin RONA
lang: fr
ref-en: our-rona-store
---


{{>banner}}

<script src="{{assets}}/js/historique.js"></script>
<section id="notrerona" class="notrerona">
    <div class="container-fluid notrerona-tilte">
        <p>
            Le <span class="title-bold">Centre du Bricoleur Lachine ltée.</span> du 650 rue Notre-Dame offre désormais un vaste choix de produits et de
            services dans un magasin nouveau concept qui offre à sa clientèle les nouvelles tendances du marché.
            L’équipe, sous la direction générale de Enzo Caucci, compte 30 employés tous soucieux d’offrir un service à
            la clientèle hors pair.
        </p>

        <p>À ce titre, la devise des employés du Centre du Bricoleur Lachine ltée. est</p>

        <p><span class="title-bold">« Le service est notre priorité ».</span></p>
    </div>
    <div class="container rona-facebook">
        <div class="col-md-6 col-sm-6 rona-image-container">
            <div class="rona-image">
                <img src="assets/images/rona-lachine.png">
                <div class="rona-image-cover">
                    <img src="assets/images/logo-rona-lachine.png">
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 rona-content">
            <p class="rona-title">Le Centre du Bricoleur Lachine ltée.</p>
            <p>650, rue Notre Dame, Lachine, QC, H8S 2B3 </p>
            <p>Téléphone : 514 637-3767</p>
            <p>Télécopieur : 514 634-5878</p>
            <a href="https://www.facebook.com/rona.lachine?fref=ts" target="_blank" class="btn btn-primary btn-lg"><img src="assets/images/facebook-mark.png"> &nbsp;&nbsp;&nbsp;VISITEZ NOTRE PAGE FACEBOOK</a>
        </div>
    </div>
</section>

<section id="rona-timeline" class="historique">
    <div class="container section-title">
        <p>
            L’histoire du Centre du Bricoleur Lachine ltée.
        </p>
    </div>
    <div class="container historique-body">
        <div id="historiquebody" class="">
            <div class="timeline-border">
                <div class="innercontent"></div>
            </div>

            <div class="entry clearfix emptybox">
                <div>&nbsp</div>
            </div>
            <div class="entry clearfix">
                <div class="entry-timeline">
                    <div class="timeline-divider"></div>
                </div>
                <div class="entry-title">
                    <h2>1988</h2>
                </div>
                <div class="entry-content">
                    <p>
                        Le 17 juin, fondation du premier magasin Le Centre du Bricoleur Lachine ltée par Jean-Guy Chartier, Denis Legault et Yves Chartier situé au 520, 19e avenue à Lachine. Le magasin compte alors une superficie intérieure de 7 000 pieds carrés et une cour à bois de 3 000 pieds carrés comprenant un service de coupe et livraison.
                    </p>
                </div>
            </div>


            <div class="entry clearfix">
                <div class="entry-timeline">
                    <div class="timeline-divider"></div>
                </div>
                <div class="entry-title">
                    <h2>1996</h2>
                </div>
                <div class="entry-content">
                    <p>
                        Yves Chartier en devient l’unique propriétaire.
                    </p>
                </div>
            </div>

            <div class="entry clearfix">
                <div class="entry-timeline">
                    <div class="timeline-divider"></div>
                </div>
                <div class="entry-title">
                    <h2>2006</h2>
                </div>
                <div class="entry-content">
                    <p>
                        Le 27 février Yves Chartier fait l’acquisition de la quincaillerie Lacroix & fils. Fondé il y a plus de 60 ans, ce commerce situé au 650 rue Notre-Dame à Lachine offre une superficie de 12 000 pieds carrés. Monsieur Lacroix père restera actif au sein de l’équipe jusqu’en janvier 2007.
                    </p>
                    <p>+</p>
                    <p>
                        En juin, des travaux majeurs de réaménagement et de modernisation de la cour à bois sont effectués afin d’intégrer une plus grande gamme de produits.
                    </p>
                    <p>+</p>
                    <p>
                        En août, la succursale située sur la 19e avenue à Lachine et ouverte au public devient le centre de distribution de matériaux dédié uniquement aux entrepreneurs
                    </p>
                </div>
            </div>

            <div class="entry clearfix">
                <div class="entry-timeline">
                    <div class="timeline-divider"></div>
                </div>
                <div class="entry-title">
                    <h2>2007</h2>
                </div>
                <div class="entry-content">
                    <p>
                        En septembre, après plus d’un an de planification, le projet qui comprend tout à la fois une rénovation, un agrandissement et une restructuration de l’entreprise est terminé, ce qui permet de doubler la superficie du premier plancher. Le nouveau magasin d’une superficie totale de 20 000 pieds carrés, inclus une cour à bois extérieure de 4 000 pieds carrés et à l’intérieur d’un centre de rénovation de 16 000 pieds carrés disposant d’une boutique « Ambiance » de 2 000 pieds carrés présentant une gamme d’articles de décoration variés ainsi que les collections exclusives de RONA.
                    </p>
                </div>
            </div>


            <div class="entry clearfix">
                <div class="entry-timeline">
                    <div class="timeline-divider"></div>
                </div>
                <div class="entry-title">
                    <h2>2008</h2>
                </div>
                <div class="entry-content">
                    <p>
                        En janvier, la succursale située sur la 19e avenue à Lachine ferme ses portes au public pour devenir un entrepôt de matériaux.
                    </p>
                </div>
            </div>


            <div class="entry clearfix">
                <div class="entry-timeline">
                    <div class="timeline-divider"></div>
                </div>
                <div class="entry-title">
                    <h2>2016</h2>
                </div>
                <div class="entry-content">
                    <p>
                        Nouvelle construction d’un entrepôt de 4500 pc qui sera à la fine pointe de la technologie pour mieux vous servir!
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="container section-footer">
        <p class="timeline-footer-title">
            À propos de RONA
        </p>
        <p>
            RONA est le plus important distributeur et détaillant canadien de produits de quincaillerie, de rénovation et de jardinage. Son réseau compte près de 700 magasins corporatifs, franchisés et affiliés qui emploient près de 30 000 employés. L’ensemble des magasins RONA totalise une superficie de plus de 15 millions de pieds carrés et réalise des ventes au détail annuelles de plus de 6 milliards de dollars.
        </p>
        <p>
            Source : <a href="http://www.rona.ca">www.rona.ca</a>
        </p>
    </div>
</section>

{{>jointeam}}
