---
title:  Nouvelles
lang: fr
ref-en: news
---


{{>banner}}

<section class="nouvelles">
    <div class="charta-title">
        <div class="charta-container">
            <p>
                Restez au courrant des dernières nouvelles et plus récent travaux de notre entreprise. Pour ce faire, nous vous invitons à suivre notre compte instagram <a href="https://www.instagram.com/chartaconstruction/" target="_blank">@chartaconstruction</a>.
                <small>(Cliquez sur les images ci-dessous pour les ouvrir dans instagram)</small>
            </p>
        </div>
    </div>
    <div class="news-container container">
        <div id="instagramNewsFeed" class="row">

        </div>
    </div>
</section>

{{>jointeam}}
