---
title:  Nouvelles
lang: fr
ref-en: news
---


{{>banner}}

<section class="nouvelles">
    <div class="charta-title">
        <div class="charta-container">
            <p>
                Vous désirez découvrir nos plus récents projets et avoir de nos  nouvelles, suivez-nous sur notre compte Instagram <a href="https://www.instagram.com/chartaconstruction/" target="_blank">@chartaconstruction</a>.<br />
                <small>(Cliquez sur les images ci-dessous pour les ouvrir dans Instagram)</small>
            </p>
        </div>
    </div>
    <div class="news-container container">
        <div id="instagramNewsFeed" class="row">

        </div>
    </div>
</section>

{{>jointeam}}
