---
title: Our Rona Store
lang: en
---


{{>banner-en}}

<script src="{{assets}}/js/historique.js"></script>
<section id="notrerona" class="notrerona">
    <div class="container-fluid notrerona-tilte">
        <p>
            Le <span class="title-bold">Centre du Bricoleur Lachine ltée.</span> at 650 rue Notre-Dame now offers a wide range of products and services in its store with a new design concept that offers customers the latest market trends. Under the general direction of Enzo Caucci, the team has 30 employees all dedicated to providing customer service that is second to none.
        </p>

        <p>As such, the slogan of the employees at Centre du Bricoleur Lachine ltée. is</p>

        <p><span class="title-bold">“Service is our top priority.”</span></p>
    </div>
    <div class="container rona-facebook">
        <div class="col-md-6 col-sm-6 rona-image-container">
            <div class="rona-image">
                <img src="assets/images/rona-lachine.png">
                <div class="rona-image-cover">
                    <img src="assets/images/logo-rona-lachine.png">
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 rona-content">
            <p class="rona-title">Le Centre du Bricoleur Lachine ltée.</p>
            <p>650, rue Notre Dame, Lachine, QC, H8S 2B3 </p>
            <p>Telephone : (514) 637-3767</p>
            <p>Fax : (514) 634-5878</p>
            <a href="https://www.facebook.com/rona.lachine?fref=ts" target="_blank" class="btn btn-primary btn-lg"><img src="assets/images/facebook-mark.png"> &nbsp;&nbsp;&nbsp;VISIT OUR FACEBOOK PAGE</a>
        </div>
    </div>
</section>

<section id="rona-timeline" class="historique">
    <div class="container section-title">
        <p>
            The history of the Centre du Bricoleur Lachine ltée.
        </p>
    </div>
    <div class="container historique-body">
        <div id="historiquebody" class="">
            <div class="timeline-border">
                <div class="innercontent"></div>
            </div>

            <div class="entry clearfix emptybox">
                <div>&nbsp</div>
            </div>
            <div class="entry clearfix">
                <div class="entry-timeline">
                    <div class="timeline-divider"></div>
                </div>
                <div class="entry-title">
                    <h2>1988</h2>
                </div>
                <div class="entry-content">
                    <p>
                        On June 17th, establishment of the first Centre du Bricoleur Lachine ltée by Jean-Guy Chartier, Denis Legault and Yves Chartier located at 520, 19e Avenue in Lachine. The interior surface of the store covers an area of 7,000 square feet and has a lumber yard measuring 3,000 square feet which includes cutting and delivery services.
                    </p>
                </div>
            </div>


            <div class="entry clearfix">
                <div class="entry-timeline">
                    <div class="timeline-divider"></div>
                </div>
                <div class="entry-title">
                    <h2>1996</h2>
                </div>
                <div class="entry-content">
                    <p>
                        Yves Chartier becomes the sole owner of the store.
                    </p>
                </div>
            </div>

            <div class="entry clearfix">
                <div class="entry-timeline">
                    <div class="timeline-divider"></div>
                </div>
                <div class="entry-title">
                    <h2>2006</h2>
                </div>
                <div class="entry-content">
                    <p>
                        On February 27th, Yves Chartier acquires the Lacroix & fils hardware store. Founded over 60 years ago, the store is located at 650 rue Notre-Dame in Lachine and covers an area of 12,000 square feet. Mr. Lacroix Sr. stays active within the team until January 2007.
                    </p>
                    <p>+</p>
                    <p>
                        In June, major reorganization and modernization work on the lumber yard are carried out to incorporate a wider range of products.
                    </p>
                    <p>+</p>
                    <p>
                        In August, the branch office, opened to the public on 19e Avenue in Lachine, becomes the materials distribution center reserved for contractors.
                    </p>
                </div>
            </div>


            <div class="entry clearfix">
                <div class="entry-timeline">
                    <div class="timeline-divider"></div>
                </div>
                <div class="entry-title">
                    <h2>2007</h2>
                </div>
                <div class="entry-content">
                    <p>
                        In September, after more than a year of planning, the project includes a renovation, an expansion and restructuring of the enterprise altogether is completed, thereby doubling the size of the first floor. The new store covers a total area of 20,000 square feet, including an outdoor lumberyard at 4,000 square feet and inside of a home improvement center measuring 16,000 square feet with a boutique "Ambiance" of over 2,000 square feet and presenting a wide variety of decorative items and exclusively RONA collections.
                    </p>
                </div>
            </div>


            <div class="entry clearfix">
                <div class="entry-timeline">
                    <div class="timeline-divider"></div>
                </div>
                <div class="entry-title">
                    <h2>2008</h2>
                </div>
                <div class="entry-content">
                    <p>
                        In January, the branch located at 19e Avenue in Lachine closes its doors to the public and becomes a materials warehouse.
                    </p>
                </div>
            </div>


            <div class="entry clearfix">
                <div class="entry-timeline">
                    <div class="timeline-divider"></div>
                </div>
                <div class="entry-title">
                    <h2>2016</h2>
                </div>
                <div class="entry-content">
                    <p>
                        New construction of a 4500 sq. ft. warehouse incorporating cutting edge technology to serve you better!
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="container section-footer">
        <p class="timeline-footer-title">
            À propos de RONA
        </p>
        <p>
            RONA is the largest Canadian distributor and retailer of hardware, renovation and gardening products. Its network of nearly 700 corporate stores, franchises and affiliates employ nearly 30,000 employees. RONA stores cover a total area of more than 15 million square feet and annual retail sales total over $6 billion. 
        </p>
        <p>
            Source : <a href="http://www.rona.ca">www.rona.ca</a>
        </p>
    </div>
</section>

{{>jointeam-en}}
