---
title: Plan du site
lang: fr
---


{{>banner}}

<section id="plandusite" class="plandusite">
    <div class="container plandusite-container">
        <div class="col-md-4 charta-list accueil">
            <ul>
                <li><a href="#">ACCUEIL</a></li>
                <li><a href="#">NOUVELLES</a></li>
                <li><a href="#">CARRIÈRES</a></li>
                <li><a href="#">ESPACE SOUS-TRAITANTS</a></li>
                <li><a href="#">CONTACTEZ-NOUS</a></li>
                <li><a href="#">ENGLISH</a></li>
            </ul>
        </div>
        <div class="col-md-4 charta-list">
            <h5><a href="#">ENTREPRISE</a></h5>
            <ul>
                <li><a href="#">Historique</a></li>
                <li><a href="#">Philosophie</a></li>
                <li><a href="#">Avantages Charta</a></li>
                <li><a href="#">Équipe</a></li>
                <li><a href="#">Certifications</a></li>
            </ul>
        </div>
        <div class="col-md-4 charta-list">
            <h5><a href="#">RÉALISATIONS</a></h5>
            <ul>
                <li><a href="#">Projets</a></li>
                <li><a href="#">Gallerie photo</a></li>
                <li><a href="#">Témoignages</a></li>
            </ul>
        </div>
    </div>
</section>

{{>jointeam}}
