---
title: Témoignages
parent: Réalisations
---


{{>banner}}

<section id="temoignages" class="temoignages">
    <div class="container-fluid temoignages-title">
        <p>
            Depuis plus de 40 ans, la qualité de nos réalisations, le travail exemplaire de notre équipe, notre souci du
            travail bien fait, notre écoute active et notre respect des attentes et des besoins de notre clientèle, nous
            offre la plus grande des récompenses : leur satisfaction
        </p>

        <p class="title-bold">Merci à toute notre clientèle pour sa fidélité</p>

        <p>L'équipe des Entreprises Charta</p>
    </div>
    <div class="temoignages-body">
        <!--  Sainte Anne Row   -->
        <div class="row temoignages-row odd">
            <div class="temoignages-row-logo">
                <div class="cover-img">
                  <img src="assets/images/temoig-sainte.png">
                  <div class="cover-img-p"></div>
                </div>
                <div class="logo-cover">
                    <div class="logo-img">
                        <p>
                            <img src="assets/images/logo-sainte-anne.png">
                        </p>
                    </div>
                </div>
            </div>
            <div class="temoignages-row-desc">
                <div class="desc-header">
                    <a href="#">Collège Sainte-Anne de Lachine – Collégial International Sainte-Anne</a>

                    <p>
                        <span class="name">M. Bruno Vachon</span> - Coordonnateur des ressources matérielles
                    </p>

                    <div class="underline"></div>
                </div>
                <div class="desc-content">
                    <p>
                        Les Entreprises Charta réalisent des travaux pour notre établissement depuis plusieurs années
                        comprenant la rénovation complète de l’un de nos bâtiments ainsi que l’exécution de plusieurs
                        travaux d’été. Travailler avec leur équipe est simple et efficace, nous pouvons nous reposer sur
                        eux, ils gèrent les projets avec intelligence et savoir-faire et savent collaborer avec les
                        différents intervenants oeuvrant sur nos chantiers.
                    </p>

                    <p>
                        Les employés de Charta sont bien plus que de simples exécutants, ce sont des partenaires avec
                        qui nous travaillons main dans la main, qui font preuve de minutie, d’écoute et de
                        considération. Ils trouvent des solutions quelle que soit la problématique, agissent avec
                        transparence, respectent les délais, les coûts et comblent nos attentes. Quel que soit le type
                        de travail à réaliser, rénovation, décoration ou structure, ils ont le souci du travail bien
                        fait, font preuve de calme même dans les situations les plus critiques et mettent tout en oeuvre
                        pour rencontrer notre satisfaction. Des réalisations à la hauteur de la réputation et du
                        standing de notre établissement par des hommes qui partagent et appliquent nos valeurs humaines.
                    </p>
                </div>
            </div>
        </div>
        <!--   Natrel Row  -->
        <div class="row temoignages-row even">
            <div class="temoignages-row-desc">
                <div class="desc-header">
                    <a href="#">Agropur Division Natrel, Saint-Laurent</a>

                    <p>
                        <span class="name">M. Yvan Demchuck</span> - Directeur - Services administratifs
                    </p>

                    <div class="underline"></div>
                </div>
                <div class="desc-content">
                    <p>
                        Notre entreprise fait appel aux services de Charta depuis plus de 15 ans, ils ont effectué de
                        nombreux travaux pour nous, que ce soit des interventions d’urgence, des travaux d’aménagement
                        intérieur et de gros projets. Ils ont réalisé entre autres, l’agencement de nos espaces de
                        bureau corporatif, plusieurs dossiers de rénovations, dont trois de très grande envergure, ainsi
                        que nos locaux de Markham en Ontario. C’est simple, ils s’occupent de tout en respectant les
                        délais et les coûts et font le lien entre les différents intervenants avec respect et
                        professionnalisme tout en ajustant leurs horaires pour ne pas nuire à notre travail. La finition
                        est impeccable et à leur départ l’environnement est propre et fonctionnel prêt à accueillir nos
                        employés et ils s’assurent toujours que tout est correct avant de quitter un chantier. Pour
                        anecdote, nous avions subi un dégât d’eau important dans nos locaux, plus de 6 pouces d’eau sur
                        plus de 2 600 pieds carrés! Ils sont intervenus le jour même, le lendemain l’eau était évacuée
                        et le chantier débutait. Moins de deux semaines plus tard, nos bureaux étaient entièrement
                        restaurés.
                    </p>

                    <p>
                        C’est une entreprise très dynamique qui est à l'écoute de sa clientèle, qui comprend notre
                        réalité et qui sait respecter l'espace de travail de chaque individu. Avec Charta, nous
                        ressentons que nous faisons partie de leur famille, elle est entièrement dévouée et comprends
                        très bien nos besoins opérationnels. Monsieur Chartier a aussi su transmettre à sa belle et
                        jeune équipe de la relève ses bonnes valeurs de vie, de respect, d’écoute, de patience, de
                        dévouement et de tolérance.
                    </p>

                    <p>
                        Je n'ai qu'à dire BRAVO à Yves Chartier et à son équipe dynamique qui continue la tradition!
                    </p>
                </div>
            </div>
            <div class="temoignages-row-logo">
                <div class="cover-img">
                    <img class="cover-img" src="assets/images/temoig-nurf.png">
                    <div class="cover-img-p"></div>
                </div>


                <div class="logo-cover">
                    <div class="logo-img">
                        <p>
                            <img src="assets/images/logo-natrel.png">
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--  Bba Row   -->
        <div class="row temoignages-row odd">
            <div class="temoignages-row-logo">
                <div class="cover-img">
                    <img class="cover-img" src="assets/images/temoig-sainte.png">
                    <div class="cover-img-p"></div>
                </div>


                <div class="logo-cover">
                    <div class="logo-img">
                        <p>
                            <img src="assets/images/logo-bba.png">
                        </p>
                    </div>
                </div>
            </div>
            <div class="temoignages-row-desc">
                <div class="desc-header">
                    <a href="#">BBA</a>

                    <p>
                        <span class="name">M. Michel Dufort</span> - Responsable entretien et aménagement
                    </p>

                    <div class="underline"></div>
                </div>
                <div class="desc-content">
                    <p>
                        BBA est une firme de génie-conseil oeuvrant à l’échelle internationale qui comprend plus de 700
                        employés à travers le Canada. Notre mission étant de réunir et développer une équipe de haut
                        niveau
                        technologique pour offrir une expertise et des services de qualité, il va de soi que nous
                        cherchons
                        à nous associer à des contractants rigoureux et soucieux de réaliser des travaux de qualité.
                    </p>

                    <p>
                        Notre première collaboration avec Les Entreprises Charta remonte à plus de 5 ans. Récemment,
                        nous
                        leur avons confié la gestion complète du projet de construction de nos nouveaux locaux de
                        Brossard
                        qui devait être réalisé dans un très court délai. Sous la direction de Monsieur Chartier et
                        Monsieur
                        Charbonneau, les employés des Entreprises Charta se sont occupés de tous les aspects reliés à ce
                        mandat : achat des matériaux, gestion du chantier et des différents intervenants, etc. Ils ont
                        su
                        travailler avec efficacité, et ce, dans le respect des échéanciers et des coûts, tout en
                        veillant à
                        ce qu’il y ait une communication ouverte et une belle synergie entre les membres de l’équipe.
                        Tout
                        au long du projet, les représentants des Entreprises Charta ont été à l’écoute de nos besoins,
                        disponibles et faisant preuve d’adaptabilité. En cours de réalisation, ils ont su anticiper et
                        résoudre les différents impondérables pour nous offrir un produit final à la hauteur de nos
                        attentes!
                    </p>

                    <p>
                        En conclusion, je vous dirais que si les Entreprises Charta réalisaient également des projets
                        dans
                        le domaine résidentiel, je n’hésiterais pas une seconde à les appeler pour construire ma propre
                        maison.
                    </p>
                </div>
            </div>
        </div>

        <!--   Centreal Medical Row  -->
        <div class="row temoignages-row even">
            <div class="temoignages-row-desc">
                <div class="desc-header">
                    <a href="#">Centre médical L'ENJEU</a>

                    <p>
                        <span class="name">M. Nicolas Côté</span> - Vice-Président - Finances et développement des
                        affaires
                    </p>

                    <div class="underline"></div>
                </div>
                <div class="desc-content">
                    <p>
                        Ma première rencontre avec Monsieur Yves Chartier a eu lieu lors d’une expédition au
                        Kilimandjaro. Je n’imaginais pas alors que nous serions amenés à nous retrouver pour relever
                        ensemble bien d’autres défis professionnels. Notre première collaboration avec Les Entreprises
                        Charta a eu lieu en avril 2009, lors d’un sinistre d’inondation important dans nos anciens
                        locaux du complexe Desjardins à Montréal. Leur travail rapide, efficace et de qualité nous a
                        permis de reprendre notre activité rapidement et sereinement. Lorsque nous avons décidé de nous
                        implanter dans de nouveaux locaux sur la rue Beaumont à Montréal en février 2010, c’est donc
                        tout naturellement que nous avons fait appel à leurs services. Nous sommes un centre de médecine
                        spécialisée en cardiologie, nous voulions offrir à notre clientèle un établissement de
                        conception unique et de design novateur qui devaient également rencontrer des exigences
                        techniques et des normes sanitaires irréprochables. Les Entreprises Charta ont été bien plus que
                        de simples exécutants, ils ont géré le projet de main de maître sous la férule de Monsieur
                        Dominic Charbonneau et ont réalisé un travail tout simplement remarquable. Charta est bien plus
                        qu’une entreprise d’entrepreneur général, car bien au-delà du respect des budgets, des délais et
                        de la qualité d’exécution qui sont déjà des critères d’excellence dans leur activité, nous avons
                        bénéficié des services d’une équipe de professionnels dévouée à nous satisfaire, qui prenait en
                        considération les gens tout autant que l’ouvrage. Toujours à l’écoute, respectueux de leurs
                        engagements, soucieux de répondre aux attentes, ils ont été à même de résoudre toute
                        problématique en proposant systématiquement plusieurs alternatives dans le respect de nos
                        exigences et de notre budget. Les Entreprises Charta nous offrent en toute occasion une
                        collaboration totale et transparente dans l’optique de nous satisfaire.
                    </p>

                    <p>
                        Mission accomplie! Nous avons instauré une belle relation de confiance et sommes heureux de
                        continuer notre collaboration sur de nouveaux projets.
                    </p>
                </div>
            </div>
            <div class="temoignages-row-logo">
                <div class="cover-img">
                    <img class="cover-img" src="assets/images/temoig-nurf.png">
                    <div class="cover-img-p"></div>
                </div>

                <div class="logo-cover">
                    <div class="logo-img">
                        <p>
                            <img src="assets/images/logo-centre-medical.png">
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{{>jointeam}}
