---
title: Vous avez un projet en tête?
lang: fr
---


{{>banner}}


<section id="realisationidees" class="realisationidees" xmlns="http://www.w3.org/1999/html">
    <!--<div class="container-fluid iddes-header">
    </div>-->
    <div class="container idees-body">
        <div class="col-md-6 idees-img">
            <img src="assets/images/college-saint-anne.jpg">
            <div class="idees-img-label">
                <div class="label-cotainer">
                    <p>
                        Réalisez vos idées
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 idees-desc charta-list">
            <h3>Nous pouvons vous aider à concrétiser vos idées et devenir une réalité.</h3>
            <ul>
                <li>Nous prendrons le temps de discuter avec vous ;</li>
                <li>mettrons tous les éléments de vos idées en place ;</li>
                <li>pourrons nous associés aux professionnels, si applicable;</li>
                <li>proposerons des matériaux adéquats et à la fine pointe</li>
                <li>et surtout, nous respecterons votre budget pour votre projet.</li>
            </ul>
            <p>
                Avec notre équipe chevronnée et attentionnée, nous pourrons réaliser votre projet .
            </p>
            <p class="source">
                Nous vous invitons à <a href="{{relative page.dest "dist/realisation-projets.html"}}">visiter nos réalisations.</a>
            </p>
        </div>
    </div>
    <div class="container idees-footer">
        <div class="row footer-img-row">
            <div class="col-md-3 col-sm-3 col-xs-4">
                <img src="assets/images/centre-medicale-lenjeu.jpg">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-4">
                <img src="assets/images/bba-brossard.jpg">
            </div>
            <div class="col-md-3 col-sm-3  col-xs-4">
                <img src="assets/images/cdlh.jpg">
            </div>
            <div class="col-md-3 col-sm-3  hidden-xs">
                <img src="assets/images/neuf-architectes.jpg">
            </div>
        </div>
        <div class="row footer-label">
            <div>
                <p>
                    <a href="{{relative page.dest "dist/realisation-projets.html"}}" class="btn btn-primary btn-lg">VISITEZ NOS RÉALISATIONS</a>
                </p>
            </div>
        </div>
    </div>
</section>

