<header class="blue banner">
  <div class="container">
    <div class="row">

      <div class="col-sm-6">
        <h4>Les entreprise Charta Inc.</h4>
        <h3>AN INTEGRATED AND ATTENTIVE TEAM FOR QUALITY PROJECTS!</h3>   
      </div>

      <div class="col-sm-5 col-sm-offset-1">
        <div class="page-header">
          <h1>{{#if parent}}<small>{{parent}} / </small>{{/if}} {{title}}</h1>
        </div>
      </div>

    </div>
  </div>
</header>