<header class="blue banner">
  <div class="container">
    <div class="page-header pull-right">
      <h1>{{#if parent}}<small>{{parent}} / </small>{{/if}} {{title}}</h1>
    </div>

    <h4>Les entreprise Charta Inc.</h4>
    <h3>UNE ÉQUIPE INTÈGRE ET ATTENTIONNÉE POUR DES PROJETS DE QUALITÉ !</h3>
  </div>
</header>