<footer>
  <div class="container">
    <div class="row">
      <div class="sitemap-col col-md-offset-1 col-md-3">
        <ul class="list-unstyled">
          <li><a href="#">Accueil</a></li>
          <li><a href="#">Nouvelles</a></li>
          <li><a href="#">Carrières</a></li>
          <li><a href="#">Notre magasin RONA</a></li>
          <li><a href="#">Espace Sous-Traitants</a></li>
          <li><a href="#">Contactez-nous</a></li>
          <li><a href="#">Plan du site</a></li>
          <li><a href="#">English</a></li>
        </ul>
      </div>

      <div class="entreprise-col col-md-2">
        <h5>Entreprise</h5>
        <ul class="list-unstyled">
          <li><a href="#">Historique</a></li>
          <li><a href="#">Philosophie</a></li>
          <li><a href="#">Avantages Charta</a></li>
          <li><a href="#">Équipe</a></li>
          <li><a href="#">Certification</a></li>
        </ul>
      </div>


      <div class="realisation-col col-md-2">
        <h5>Réalisation</h5>
        <ul class="list-unstyled">
          <li><a href="#">Projets</a></li>
          <li><a href="#">Gallerie photo</a></li>
          <li><a href="#">Témoignages</a></li>
        </ul>
      </div>


      <div class="contact-col col-md-4">
        <h3>Les Entreprises Charta Inc.</h3>
        <h5><address>530, 19<sup>e</sup> Avenue, Lachine (Québec) H8S 3S5</address></h5>

        <h5 class="call-us">Contactez-nous pour plus de détails</h5>
        <h1><phone>514 637-6725</phone></h1>
      </div>

    </div>

    <div class="copyright text-center">
      © 2015 Les Entreprises Charta Inc. – Tout droits réservés
    </div>
  </div>
</footer>