<section id="jointeam" class="jointeam">
    <div class="container-fluid">
        <div class="col-sm-6 left-col">
            <h3>
                VOUS DÉSIREZ VOUS JOINDRE À NOTRE ÉQUIPE ?
            </h3>
            <p>
                Vous voudriez rejoindre une équipe d’expérience, dynamique et ainsi travailler sur des projets d’envergure?
            </p>
            <a href="{{relative page.dest "dist/carrieres.html"}}" class="btn btn-primary btn-lg">APPRENEZ-EN DAVANTAGE</a>
        </div>
        <div class="col-sm-6 right-col">
            <h3>
                VOUS AVEZ UN PROJET EN TÊTE ?
            </h3>
            <p>
                Nous pouvons vous aider à concrétiser vos idées pour devenir réalité.
            </p>
            <a href="{{relative page.dest "dist/realisation-realisezvosidees.html"}}" class="btn btn-primary btn-lg">RÉALISEZ VOS IDÉES</a>
        </div>
    </div>
</section>
