<section id="jointeam" class="jointeam">
    <div class="container-fluid">
        <div class="col-sm-6 left-col">
            <h3>
                DO YOU WANT TO JOIN OUR TEAM?
            </h3>
            <p>
                Would you like to join an experienced, energetic team and be able to work on large-scale projects?
            </p>
            <a href="{{relative page.dest "dist/careers.html"}}" class="btn btn-primary btn-lg">LEARN MORE</a>
        </div>
        <div class="col-sm-6 right-col">
            <h3>
                DO YOU HAVE A PROJECT IN MIND?
            </h3>
            <p>
                We can help you bring your ideas to life.
            </p>
            <a href="{{relative page.dest "dist/realisation-realisezvosidees.html"}}" class="btn btn-primary btn-lg">MATERIALIZE YOUR IDEAS</a>
        </div>
    </div>
</section>
