.btn.bordered{
  background-color: transparent; 
  border-width: 2px;

  &.light{
    .button-variant(#fff, transparent, #fff);
  }

  &.dark{
    .button-variant(#999, transparent, #999);
  }
  
}

.btn.rounded{
  border-radius: 30px;
}