section{
  .section-title{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color:#555555;
    font-size: 20px;

    p{
      max-width: 750px;
      margin-left: auto;
      margin-right: auto;
    }

    &.light{
      p{
        font-weight: 300;
      }
    }
    
  }
  .section-footer{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color:#555555;
    font-size: 20px;
    p{
      max-width: 750px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
