section.certification {
  padding-top: 50px;
  padding-bottom: 50px;

  .certification-row {
    padding-top: 30px;
    padding-bottom: 30px;

    .logo {
      text-align: center;
      p{
        font-size: 24px;
        color: #CCC;
        padding-top: 15px;
        padding-bottom: 5px;
      }
    }

    .desc {
      h3 {
        font-size: 20px;
        color: #444444;
        line-height: 23px;
      }
      p.content {
        font-size: 16px;
        color: #555555;
        line-height: 18px;
        padding-bottom: 8px;
      }
      p.certitication-link {
        font-size: 14px;
        color: #555555;
        line-height: 18px;
        word-wrap: break-word
      }
      :first-child{
        margin-top: 0px;
      }
    }
  }

  @media (max-width: @screen-xs-max) {
    .certification-row {
      .logo{
        margin-bottom: 40px;
      }
    }
  }
}