section.explore{
  padding: 50px 0;

  h2{
    text-transform: uppercase;
    margin-bottom: 50px;
    color: @gray-light;
    font-weight: 300;
  }

  h3 {
    font-weight: 700;
  }

  .desc {
    font-weight: 300;
    color: #999;
    padding: 5px 0 10px 0;
  }

  .learn-more {
    background: @brand-primary;
    margin: auto;
    padding: 6px 12px;
    display: inline;
    text-transform: uppercase;
    font-size: 11px;
    color: #fff;
    border-radius: 12px;
  }

  .thumbnail{
    border-width: 0;

    &:hover {
      text-decoration: none;
    }

    .over{
      position: absolute;
      top: 30px;
      left: 50%;

      &.icon-circle-check,
      &.icon-circle-tools{
        top: 80px;
        width: 78px;
        height: 78px; 
        margin-left: -39px;
      }

      &.logo-rona-lachine{
          top: 75px;
          width: 215px;
          height: 77px; 
          margin-left: -107px;
      }
    }
  }
}